<div class="fwmb-dialog-content">
    <div class="form-group stacked">
        <label>{{localize "FILRODENSWMB.UI.SceneName"}}</label>
        <input type="text" name="sceneName" value="{{defaultName}}" />
        <p class="hint">{{localize "FILRODENSWMB.UI.SceneNameHint"}}</p>
    </div>

    <div class="form-group stacked">
        <label>{{localize "FILRODENSWMB.UI.ExportFolder"}}</label>
        <file-picker type="folder" name="exportFolder" value="{{defaultFolder}}"></file-picker>
        <p class="hint">{{localize "FILRODENSWMB.UI.ExportFolderHint"}}</p>
    </div>

    <div class="fwmb-divider"></div>

    <div class="form-group stacked">
        <label class="fwmb-setting-row">
            <input type="checkbox" name="generateJournals" class="fwmb-checkbox" checked />
            <strong>{{localize "FILRODENSWMB.UI.GenerateJournals"}}</strong>
        </label>
        <p class="hint indent">{{localize "FILRODENSWMB.UI.GenerateJournalsHint"}}</p>
    </div>

    <div class="form-group stacked">
        <label class="fwmb-setting-row">
            <input type="checkbox" name="overwriteJournals" class="fwmb-checkbox" />
            <strong>{{localize "FILRODENSWMB.UI.OverwriteJournals"}}</strong>
        </label>
        <p class="hint indent danger">
            {{localize "FILRODENSWMB.UI.OverwriteJournalsHint"}}
        </p>
    </div>

    <div class="form-group stacked">
        <label class="fwmb-setting-row">
            <input type="checkbox" name="createGmOverlay" class="fwmb-checkbox" checked />
            <strong>{{localize "FILRODENSWMB.UI.CreateGMOverlay"}}</strong>
        </label>
        <p class="hint indent">{{localize "FILRODENSWMB.UI.CreateGMOverlayHint"}}</p>
    </div>
</div>