<div class="fhc-manual-editor-content">

    <fieldset class="fhc-fieldset">
        <legend>{{localize "FILRODENSHEX.Legend.Title"}}</legend>

        <div class="fhc-swatch-grid">
            {{#each biomes}}
                <button type="button" class="fhc-swatch-btn" data-action="selectBiome" data-biome="{{this.id}}" title="{{this.label}}">
                    <div class="fhc-swatch-color" style="background-color: {{this.hexColor}};"></div>
                    <span class="fhc-swatch-label">{{this.label}}</span>
                </button>
            {{/each}}
        </div>

    </fieldset>

</div>