<div class="fwmb-map-manager-content">

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSHEX.UI.SaveMap"}}</legend>
        <p class="hint">{{localize "FILRODENSHEX.UI.SaveMapHint"}}</p>

        <div class="form-group">
            <label for="fwmb-save-name">{{localize "FILRODENSHEX.UI.MapName"}}</label>
            <div class="fwmb-flex-row">
                <input type="text" id="fwmb-save-name" class="fwmb-flex-1" placeholder="e.g. The Sword Coast" />
                <button type="button" class="fwmb-btn primary" data-action="saveMap" title="{{localize 'FILRODENSHEX.Actions.Save'}}">
                    <i class="fwmb-icon file_save"></i>
                </button>
            </div>
        </div>
    </fieldset>

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSHEX.UI.LoadMap"}}</legend>

        {{#if maps.length}}
            <div class="fwmb-map-list fwmb-scrollable">
                {{#each maps}}
                    <div class="fwmb-map-item">
                        <span class="fwmb-map-name">{{this.name}}</span>
                        <div class="fwmb-map-actions">
                            <button type="button" class="fwmb-btn primary" data-action="loadMap" data-id="{{this.id}}" title="{{localize 'FILRODENSHEX.Actions.Load'}}">
                                <i class="fwmb-icon file_open"></i>
                            </button>
                            <button type="button" class="fwmb-btn danger" data-action="deleteMap" data-id="{{this.id}}" title="{{localize 'FILRODENSHEX.Actions.Delete'}}">
                                <i class="fwmb-icon delete"></i>
                            </button>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <div class="fwmb-empty">
                <p>{{localize "FILRODENSHEX.UI.NoMapsSaved"}}</p>
            </div>
        {{/if}}
    </fieldset>

</div>