<div class="fwmb-tool-content fwmb-scrollable">

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.ClimateSettings"}}</legend>

        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.GlobalTemp"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="globalTemp" value="{{lookup uiState 'globalTemp'}}" min="0" max="1" step="0.01" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "globalTemp"}}</output>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.SeasonOffset"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="seasonOffset" value="{{lookup uiState 'seasonOffset'}}" min="-1" max="1" step="0.05" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "seasonOffset"}}</output>
            </div>
        </div>

    </fieldset>

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.MoistureSettings"}}</legend>

        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.GlobalMoisture"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="globalMoisture" value="{{lookup uiState 'globalMoisture'}}" min="0" max="1" step="0.01" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "globalMoisture"}}</output>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.MoistureScale"}}</label>
            <div class="fwmb-slider-group">
                <input
                    type="range"
                    name="noise.moisture.scale"
                    value="{{lookup uiState 'noise.moisture.scale'}}"
                    min="100"
                    max="4000"
                    step="any"
                    oninput="this.nextElementSibling.value = Number(this.value).toFixed(2)"
                />
                <output>{{numberFormat (lookup uiState "noise.moisture.scale") decimals=2}}</output>
            </div>
        </div>
    </fieldset>

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.BiomeLegend"}}</legend>
        <div class="fwmb-biome-legend">
            {{#each biomeList}}
                <div class="fwmb-biome-item">
                    <div class="fwmb-swatch" style="background-color: {{this.hex}};"></div>
                    <span>{{localize this.label}}</span>
                </div>
            {{/each}}
        </div>
    </fieldset>

    <div class="fwmb-flex-1"></div>
    <div class="fwmb-divider"></div>

    <button type="button" class="fwmb-btn primary" data-action="toggleEditMode">
        <i class="fwmb-icon brush"></i>
        {{localize "FILRODENSWMB.UI.EditBiome"}}
    </button>

</div>