<div class="fwmb-tool-content fwmb-scrollable">

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.SettingsVisuals"}}</legend>
        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.ContourInterval"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="contourInterval" value="{{lookup uiState 'contourInterval'}}" min="0.02" max="0.3" step="0.02" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "contourInterval"}}</output>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.ActiveBiomeOpacity"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="biomeAlphaActive" value="{{lookup uiState 'biomeAlphaActive'}}" min="0" max="1" step="0.05" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "biomeAlphaActive"}}</output>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.InactiveBiomeOpacity"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="biomeAlphaInactive" value="{{lookup uiState 'biomeAlphaInactive'}}" min="0" max="1" step="0.05" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "biomeAlphaInactive"}}</output>
            </div>
        </div>
    </fieldset>

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.SettingsHydrology"}}</legend>
        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.MaxLakeSize"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="maxLakeSize" value="{{lookup uiState 'maxLakeSize'}}" min="1000" max="20000" step="500" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "maxLakeSize"}}</output>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.SpringAltMin"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="springAltOffset" value="{{lookup uiState 'springAltOffset'}}" min="0" max="0.8" step="0.05" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "springAltOffset"}}</output>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.SpringMoistMin"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="springMoistMin" value="{{lookup uiState 'springMoistMin'}}" min="0" max="1" step="0.05" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "springMoistMin"}}</output>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.MeanderJitter"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="meanderJitter" value="{{lookup uiState 'meanderJitter'}}" min="0" max="0.02" step="0.001" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "meanderJitter"}}</output>
            </div>
        </div>
    </fieldset>

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.SettingsClimate"}}</legend>
        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.AltitudeCooling"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="altCooling" value="{{lookup uiState 'altCooling'}}" min="0" max="1" step="0.05" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "altCooling"}}</output>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.FreezingThreshold"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="freezingThreshold" value="{{lookup uiState 'freezingThreshold'}}" min="0" max="1" step="0.05" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "freezingThreshold"}}</output>
            </div>
        </div>
    </fieldset>

    <fieldset class="fwmb-fieldset">

        <legend class="fwmb-legend-with-action">
            <span>{{localize "FILRODENSWMB.UI.SettingsBiomeColors"}}</span>
            <a class="fwmb-legend-action" data-action="addCustomBiome" data-tooltip="{{localize 'FILRODENSWMB.UI.AddCustomBiome'}}" data-tooltip-class="fwmb-tooltip">
                <i class="fwmb-icon add"></i>
            </a>
        </legend>

        <div class="fwmb-biome-legend">
            {{#each biomeList}}
                <div class="fwmb-biome-item">
                    <input type="color" class="fwmb-swatch" name="color_{{this.key}}" value="{{this.hex}}" data-biome="{{this.key}}" />

                    {{#if this.isCustom}}
                        <label class="fwmb-biome-label">{{this.label}}</label>
                        <button type="button" class="fwmb-btn muted small danger" data-action="deleteCustomBiome" data-id="{{this.id}}" data-tooltip="{{localize 'FILRODENSWMB.UI.DeleteBiome'}}">
                            <i class="fwmb-icon delete"></i>
                        </button>
                    {{else}}
                        <label class="fwmb-biome-label">{{localize this.label}}</label>
                    {{/if}}
                </div>
            {{/each}}
        </div>

    </fieldset>

    <fieldset class="fwmb-fieldset">
        <legend class="fwmb-legend-with-action">
            <span>{{localize "FILRODENSWMB.UI.SettingsRouteQuickStyles"}}</span>
            <a class="fwmb-legend-action" data-action="addRouteQuickStyle" data-tooltip="{{localize 'FILRODENSWMB.UI.AddRouteQuickStyle'}}" data-tooltip-class="fwmb-tooltip">
                <i class="fwmb-icon add"></i>
            </a>
        </legend>

        <div class="fwmb-list-container fwmb-scrollable stable" style="margin-top: var(--fwmb-space-m);">
            {{#each customRouteStyles}}
                <div class="fwmb-list-item" data-id="{{this.id}}">
                    <div class="fwmb-route-swatch" style="background-color: {{this.color}}; height: {{this.thickness}}px; border-style: {{this.style}};"></div>
                    <span class="fwmb-name fwmb-flex-1">{{this.name}}</span>
                    <button type="button" class="fwmb-btn small" data-action="editRouteQuickStyle" data-tooltip="{{localize 'FILRODENSWMB.UI.Edit'}}">
                        <i class="fwmb-icon edit"></i>
                    </button>
                    <button type="button" class="fwmb-btn small muted danger" data-action="deleteRouteQuickStyle" data-tooltip="{{localize 'FILRODENSWMB.UI.Delete'}}">
                        <i class="fwmb-icon delete"></i>
                    </button>
                </div>
            {{else}}
                <div class="fwmb-empty-state">{{localize "FILRODENSWMB.UI.NoCustomStyles"}}</div>
            {{/each}}
        </div>
    </fieldset>

</div>