<div>

    <button type="button" data-action="changeTool" data-tool="scene" data-tooltip="{{localize 'FILRODENSWMB.UI.SceneTool'}}" class="{{#if (eq activeTool 'terrain')}}active{{/if}}">
        <i class="fwmb-icon grid-on"></i>
    </button>

    <button type="button" data-action="changeTool" data-tool="terrain" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolTerrain'}}" class="{{#if (eq activeTool 'terrain')}}active{{/if}}">
        <i class="fwmb-icon landscape"></i>
    </button>

    <button type="button" data-action="changeTool" data-tool="biomes" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolBiomes'}}" class="{{#if (eq activeTool 'biomes')}}active{{/if}}">
        <i class="fwmb-icon forest"></i>
    </button>

    <button type="button" data-action="changeTool" data-tool="features" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolFeatures'}}" class="{{#if (eq activeTool 'features')}}active{{/if}}">
        <i class="fwmb-icon water_drop"></i>
    </button>

    <button type="button" data-action="changeTool" data-tool="infrastructure" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolInfrastructure'}}" class="{{#if (eq activeTool 'infrastructure')}}active{{/if}}">
        <i class="fwmb-icon location_city"></i>
    </button>

    <button type="button" data-action="changeTool" data-tool="regions" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolRegions'}}" class="{{#if (eq activeTool 'regions')}}active{{/if}}">
        <i class="fwmb-icon layers"></i>
    </button>

    <button type="button" data-action="changeTool" data-tool="settings" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolSettings'}}" class="{{#if (eq activeTool 'settings')}}active{{/if}}">
        <i class="fwmb-icon tune"></i>
    </button>

    <div class="fwmb-flex-1"></div>

    <button type="button" data-action="saveMap" data-tooltip="{{localize 'FILRODENSWMB.UI.SaveMap'}}">
        <i class="fwmb-icon file_save"></i>
    </button>

    <button type="button" data-action="loadMap" data-tooltip="{{localize 'FILRODENSWMB.UI.LoadMap'}}">
        <i class="fwmb-icon file_open"></i>
    </button>

        <button type="button" data-action="changeTool" data-tool="maps" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolMaps'}}" class="{{#if (eq activeTool 'maps')}}active{{/if}}">
        <i class="fwmb-icon folder_open"></i>
    </button>
</div>