<div class="fwmb-tool-content fwmb-scrollable">

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.CanvasSettings"}}</legend>

        <div class="form-group stacked">
            <label>{{localize "FILRODENSWMB.UI.MapResolution"}}</label>
            <div class="fwmb-flex-row">
                <input type="number" name="mapWidth" class="fwmb-flex-1" value="{{uiState.mapWidth}}" min="500" max="4000" step="100" />
                <span style="align-self: center;">x</span>
                <input type="number" name="mapHeight" class="fwmb-flex-1" value="{{uiState.mapHeight}}" min="500" max="4000" step="100" />
            </div>
            <button type="button" class="fwmb-btn danger" data-action="applyResolution">
                {{localize "FILRODENSWMB.UI.ApplyResolution"}}
            </button>
            <div class="hint">{{localize "FILRODENSWMB.UI.ResolutionHint"}}</div>
        </div>
    </fieldset>

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.GlobalSettings"}}</legend>

        <div class="form-group stacked">
            <label>{{localize "FILRODENSWMB.UI.MapSeed"}}</label>
            <div class="fwmb-flex-row">
                <input type="text" name="mapSeed" class="fwmb-flex-1" value="{{uiState.mapSeed}}" placeholder="{{localize 'FILRODENSWMB.UI.RandomSeed'}}" />
                <button type="button" class="fwmb-btn" data-action="randomizeSeed" data-tooltip="{{localize 'FILRODENSWMB.UI.Randomize'}}">
                    <i class="fwmb-icon shuffle"></i>
                </button>
            </div>
            <div class="hint">{{localize "FILRODENSWMB.UI.SeedHint"}}</div>
        </div>

        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.SeaLevel"}}</label>
            <input type="range" name="seaLevel" data-action="updateSeaLevel" value="{{config.DEFAULTS.SEA_LEVEL}}" min="0" max="1" step="0.01" />
        </div>

    </fieldset>

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.ElevationNoise"}}</legend>

        <div class="form-group">
            <label data-tooltip="{{localize 'FILRODENSWMB.UI.ScaleTooltip'}}">{{localize "FILRODENSWMB.UI.LandmassScale"}}</label>
            <input type="range" name="noise.elevation.scale" value="{{config.NOISE.ELEVATION.SCALE}}" min="100" max="1000" step="10" />
        </div>

        <div class="form-group stacked">
            <label>{{localize "FILRODENSWMB.UI.PanNoise"}}</label>
            <div class="fwmb-flex-row">
                <input type="range" name="noise.offsetX" class="fwmb-flex-1" value="0" min="-5000" max="5000" step="50" data-tooltip="{{localize 'FILRODENSWMB.UI.PanX'}}" />
                <input type="range" name="noise.offsetY" class="fwmb-flex-1" value="0" min="-5000" max="5000" step="50" data-tooltip="{{localize 'FILRODENSWMB.UI.PanY'}}" />
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.TopographicalDetail"}}</label>
            <input type="range" name="noise.elevation.octaves" value="{{config.NOISE.ELEVATION.OCTAVES}}" min="1" max="10" step="1" />
        </div>

        <div class="form-group">
            <label data-tooltip="{{localize 'FILRODENSWMB.UI.StretchTooltip'}}">{{localize "FILRODENSWMB.UI.LandmassStretch"}}</label>
            <input type="range" name="noise.elevation.stretch" value="{{config.NOISE.ELEVATION.STRETCH}}" min="0.5" max="3.0" step="0.1" />
        </div>
    </fieldset>

    <div class="fwmb-flex-1"></div>
    <div class="fwmb-divider"></div>

    <button type="button" class="fwmb-btn primary" data-action="toggleEditMode">
        <i class="fwmb-icon brush"></i>
        {{localize "FILRODENSWMB.UI.EditTerrain"}}
    </button>

</div>