<div class="fwmb-tool-content fwmb-scrollable">

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.PointsOfInterest"}}</legend>
        
        <div class="fwmb-list-container fwmb-scrollable stable" style="margin-top: var(--filroden-space-m);">
            {{#each mapPins}}
            <div class="fwmb-list-item" data-id="{{this.id}}">
                <button type="button" class="fwmb-icon-btn small" data-action="togglePinVisibility">
                    <i class="fwmb-icon {{#if this.hidden}}visibility-off{{else}}visibility{{/if}}"></i>
                </button>
                <img src="modules/filrodens-world-map-builder/assets/pinhead-icons/{{this.icon}}.svg" class="fwmb-list-icon" />
                <span class="fwmb-name fwmb-flex-1">{{this.name}}</span>
                <button type="button" class="fwmb-icon-btn small" data-action="zoomToPin" data-tooltip="{{localize 'FILRODENSWMB.UI.ZoomTo'}}">
                    <i class="fwmb-icon center-focus"></i>
                </button>
                <button type="button" class="fwmb-icon-btn small" data-action="editPin" data-tooltip="{{localize 'FILRODENSWMB.UI.Edit'}}">
                    <i class="fwmb-icon edit"></i>
                </button>
                <button type="button" class="fwmb-icon-btn small fwmb-danger" data-action="deletePin">
                    <i class="fwmb-icon delete"></i>
                </button>
            </div>
            {{else}}
            <div class="fwmb-empty-state">{{localize "FILRODENSWMB.UI.NoPoints"}}</div>
            {{/each}}
        </div>
    </fieldset>

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.Routes"}}</legend>

        <div class="fwmb-list-container fwmb-scrollable stable" style="margin-top: var(--filroden-space-m);">
            {{#each mapRoutes}}
            <div class="fwmb-list-item" data-id="{{this.id}}">
                <button type="button" class="fwmb-icon-btn small" data-action="toggleRouteVisibility">
                    <i class="fwmb-icon {{#if this.hidden}}visibility-off{{else}}visibility{{/if}}"></i>
                </button>
                <div class="fwmb-route-swatch" style="background-color: {{this.color}}; height: {{this.thickness}}px; border-style: {{this.style}};"></div>
                <span class="fwmb-name fwmb-flex-1">{{this.name}}</span>
                <button type="button" class="fwmb-icon-btn small" data-action="zoomToRoute" data-tooltip="{{localize 'FILRODENSWMB.UI.ZoomTo'}}">
                    <i class="fwmb-icon center-focus"></i>
                </button>
                <button type="button" class="fwmb-icon-btn small" data-action="editRoute" data-tooltip="{{localize 'FILRODENSWMB.UI.Edit'}}">
                    <i class="fwmb-icon edit"></i>
                </button>
                <button type="button" class="fwmb-icon-btn small fwmb-danger" data-action="deleteRoute">
                    <i class="fwmb-icon delete"></i>
                </button>
            </div>
            {{else}}
            <div class="fwmb-empty-state">{{localize "FILRODENSWMB.UI.NoRoutes"}}</div>
            {{/each}}
        </div>
    </fieldset>

    <div class="fwmb-flex-1"></div>
    <div class="fwmb-divider"></div>

    <button type="button" class="fwmb-btn primary" data-action="toggleEditMode">
        <i class="fwmb-icon brush"></i>
        {{localize "FILRODENSWMB.UI.EditInfrastructure"}}
    </button>

</div>