<div class="fwmb-tool-content fwmb-scrollable">

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.CanvasSettings"}}</legend>

        <div class="form-group stacked">
            <label>{{localize "FILRODENSWMB.UI.MapSeed"}}</label>
            <div class="fwmb-flex-row">
                <input type="text" name="mapSeed" class="fwmb-flex-1" value="{{uiState.mapSeed}}" placeholder="{{localize 'FILRODENSWMB.UI.RandomSeed'}}" />
                <button type="button" class="fwmb-btn" data-action="randomizeSeed" data-tooltip="{{localize 'FILRODENSWMB.UI.Randomize'}}">
                    <i class="fwmb-icon shuffle"></i>
                </button>
            </div>
            <div class="fwmb-hint">{{localize "FILRODENSWMB.UI.SeedHint"}}</div>
        </div>

        <div class="form-group stacked">
            <label>{{localize "FILRODENSWMB.UI.MapResolution"}}</label>
            <div class="fwmb-flex-row">
                <input type="number" name="mapWidth" class="fwmb-flex-1" value="{{uiState.mapWidth}}" min="500" max="4000" step="100" />
                <span style="align-self: center;">x</span>
                <input type="number" name="mapHeight" class="fwmb-flex-1" value="{{uiState.mapHeight}}" min="500" max="4000" step="100" />
            </div>
        </div>

        <button type="button" class="fwmb-btn" data-action="applyResolution">
            {{localize "FILRODENSWMB.UI.ApplyResolution"}}
        </button>

    </fieldset>

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.Latitude"}}</legend>

        <div class="form-group stacked">
            <div class="fwmb-flex-row">
                <div class="fwmb-flex-1 form-group">
                    <label class="fwmb-hint">{{localize "FILRODENSWMB.UI.LatTop"}}</label>
                    <input type="number" name="latTop" value="{{lookup uiState 'latTop'}}" min="-90" max="90" />
                </div>
                <div class="fwmb-flex-1 form-group">
                    <label class="fwmb-hint">{{localize "FILRODENSWMB.UI.LatBottom"}}</label>
                    <input type="number" name="latBottom" value="{{lookup uiState 'latBottom'}}" min="-90" max="90" />
                </div>
            </div>
        </div>

    </fieldset>

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.GridSettings"}}</legend>

        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.GridType"}}</label>
            <select name="gridType">
                <option value="none" {{#if (eq uiState.gridType "none")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.GridNone"}}</option>
                <option value="square" {{#if (eq uiState.gridType "square")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.GridSquare"}}</option>
                <option value="hexR" {{#if (eq uiState.gridType "hexR")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.GridHexRows"}}</option>
                <option value="hexC" {{#if (eq uiState.gridType "hexC")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.GridHexCols"}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.GridSize"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="gridSize" value="{{lookup uiState 'gridSize'}}" min="10" max="300" step="5" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "gridSize"}}</output>
            </div>
        </div>
    </fieldset>

    <div class="fwmb-flex-1"></div>
    <div class="fwmb-divider"></div>

    <button type="button" class="fwmb-btn primary" data-action="toggleEditMode" data-tooltip="{{localize 'FILRODENSWMB.UI.EditCanvasHint'}}">
        {{localize "FILRODENSWMB.UI.EditCanvas"}}
    </button>

</div>