<div class="fwmb-tool-content fwmb-scrollable">

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.CanvasSettings"}}</legend>

        <div class="form-group stacked">
            <label>{{localize "FILRODENSWMB.UI.MapSeed"}}</label>
            <div class="fwmb-flex-row">
                <input type="text" name="mapSeed" class="fwmb-flex-1" value="{{uiState.mapSeed}}" placeholder="{{localize 'FILRODENSWMB.UI.RandomSeed'}}" />
                <button type="button" class="fwmb-btn" data-action="randomizeSeed" data-tooltip="{{localize 'FILRODENSWMB.UI.Randomize'}}">
                    <i class="fwmb-icon shuffle"></i>
                </button>
            </div>
            <div class="hint">{{localize "FILRODENSWMB.UI.SeedHint"}}</div>
        </div>

        <div class="form-group stacked">
            <label>{{localize "FILRODENSWMB.UI.MapResolution"}}</label>
            <div class="fwmb-flex-row">
                <input type="number" name="mapWidth" class="fwmb-flex-1" value="{{uiState.mapWidth}}" min="500" max="4000" step="100" />
                <span style="align-self: center;">x</span>
                <input type="number" name="mapHeight" class="fwmb-flex-1" value="{{uiState.mapHeight}}" min="500" max="4000" step="100" />
            </div>
            <button type="button" class="fwmb-btn danger" data-action="applyResolution">
                {{localize "FILRODENSWMB.UI.ApplyResolution"}}
            </button>
        </div>
    </fieldset>

    <fieldset class="fwmb-fieldset">
        <legend>{{localize "FILRODENSWMB.UI.GridSettings"}}</legend>

        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.GridType"}}</label>
            <select name="gridType">
                <option value="none">{{localize "FILRODENSWMB.UI.GridNone"}}</option>
                <option value="square">{{localize "FILRODENSWMB.UI.GridSquare"}}</option>
                <option value="hexR">{{localize "FILRODENSWMB.UI.GridHexRows"}}</option>
                <option value="hexC">{{localize "FILRODENSWMB.UI.GridHexCols"}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "FILRODENSWMB.UI.GridSize"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="gridSize" value="{{lookup uiState 'gridSize'}}" min="10" max="300" step="5" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "gridSize"}}</output>
            </div>
        </div>
    </fieldset>

</div>