<div class="fwmb-edit-toolbar fwmb-hidden">
    <datalist id="fwmb-region-colors">
        {{#each uiState.regionPresets}}
            <option value="{{this}}"></option>
        {{/each}}
    </datalist>

    <div class="fwmb-brush-settings">
        <div class="fwmb-brush-setting" data-tool-group="terrain biomes features">
            <label>{{localize "FILRODENSWMB.UI.BrushSize"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="brushSize" value="20" min="2" max="100" step="1" oninput="this.nextElementSibling.value = this.value" />
                <output>20</output>
            </div>
        </div>

        <div class="fwmb-brush-setting" data-tool-group="terrain biomes">
            <label>{{localize "FILRODENSWMB.UI.BrushStrength"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="brushStrength" value="0.02" min="0.01" max="0.05" step="0.01" oninput="this.nextElementSibling.value = this.value" />
                <output>0.02</output>
            </div>
        </div>

        <div class="fwmb-brush-setting" data-tool-group="terrain biomes">
            <label>{{localize "FILRODENSWMB.UI.BrushFeather"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="brushFeather" value="0.4" min="0" max="0.8" step="0.1" oninput="this.nextElementSibling.value = this.value" />
                <output>0.4</output>
            </div>
        </div>

        <div class="fwmb-brush-setting fwmb-hidden" data-tool-group="biomes">
            <label>{{localize "FILRODENSWMB.UI.BrushBiome"}}</label>
            <select name="brushBiome">
                {{#each biomeList}}
                    <option value="{{this.id}}" {{#if (eq ../uiState.brushBiome this.id)}}selected{{/if}}>
                        {{#if this.isCustom}}
                            {{this.label}}
                        {{else}}
                            {{localize this.label}}
                        {{/if}}
                    </option>
                {{/each}}
            </select>
        </div>

    </div>

    <div class="fwmb-divider-vertical" data-tool-group="terrain biomes"></div>

    <div class="fwmb-brush-tools">

        <button type="button" data-tool-group="terrain" data-action="setBrushTool" data-tool="raise" class="active" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolRaise'}}">
            <i class="fwmb-icon edit-arrow-up"></i>
        </button>
        <button type="button" data-tool-group="terrain" data-action="setBrushTool" data-tool="lower" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolLower'}}">
            <i class="fwmb-icon edit-arrow-down"></i>
        </button>
        <button type="button" data-tool-group="terrain" data-action="setBrushTool" data-tool="smooth" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolSmooth'}}">
            <i class="fwmb-icon landscape"></i>
        </button>
        <button type="button" data-tool-group="terrain" data-action="setBrushTool" data-tool="slopeUp" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolSlopeUp'}}">
            <i class="fwmb-icon slope"></i>
        </button>
        <button type="button" data-tool-group="terrain" data-action="setBrushTool" data-tool="slopeDown" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolSlopeDown'}}">
            <i class="fwmb-icon slope reverse"></i>
        </button>

        <button type="button" data-tool-group="biomes" data-action="setBrushTool" data-tool="paint" class="active fwmb-hidden" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolPaint'}}">
            <i class="fwmb-icon format-paint"></i>
        </button>

        <button type="button" data-tool-group="features" data-action="setBrushTool" data-tool="addSpring" class="active fwmb-hidden" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolAddSpring'}}">
            <i class="fwmb-icon water-drop"></i>
        </button>

        <button type="button" data-tool-group="features" data-action="setBrushTool" data-tool="blockSpring" class="fwmb-hidden" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolBlockSpring'}}">
            <i class="fwmb-icon format-color-reset"></i>
        </button>

        <button type="button" data-tool-group="features" data-action="setBrushTool" data-tool="erasePin" class="fwmb-hidden" data-tooltip="{{localize 'FILRODENSWMB.UI.ToolErasePin'}}">
            <i class="fwmb-icon ink-eraser"></i>
        </button>

                <button type="button" data-tool-group="infrastructure" data-action="setInfraMode" data-mode="pin" class="fwmb-hidden" data-tooltip="{{localize 'FILRODENSWMB.UI.ModePin'}}">
            <i class="fwmb-icon place"></i>
        </button>

        <button type="button" data-tool-group="infrastructure" data-action="setInfraMode" data-mode="route" class="fwmb-hidden" data-tooltip="{{localize 'FILRODENSWMB.UI.ModeRoute'}}">
            <i class="fwmb-icon timeline"></i>
        </button>

        <button type="button" data-tool-group="infrastructure-route" data-action="toggleSnapping" class="fwmb-btn wide {{#if uiState.snapToPoints}}active {{else}}fwmb-hidden {{/if}}">
            <i class="fwmb-icon filter-center-focus"></i>
            {{localize "FILRODENSWMB.UI.SnapToPoints"}}
        </button>

        <div class="fwmb-brush-setting fwmb-hidden" data-tool-group="infrastructure-pin">
            <label>{{localize "FILRODENSWMB.UI.SelectIcon"}}</label>
            <div class="fwmb-custom-select" id="fwmb-pin-select">
                <div class="fwmb-select-trigger" data-action="togglePinDropdown">
                    <img src="modules/filrodens-world-map-builder/assets/pinhead-icons/{{uiState.activeIcon}}.svg" class="fwmb-active-icon-img" />
                    <i class="fwmb-icon arrow-drop-down invert"></i>
                </div>
                <div class="fwmb-select-options fwmb-icon-grid fwmb-scrollable fwmb-hidden">
                    {{#each infrastructureIcons}}
                    <button type="button" class="fwmb-btn {{#if (eq ../uiState.activeIcon this.id)}}active{{/if}}" data-action="setInfrastructureIcon" data-icon="{{this.id}}" data-tooltip="{{localize this.label}}">
                        <img src="modules/filrodens-world-map-builder/assets/pinhead-icons/{{this.id}}.svg" alt="{{localize this.label}}" />
                    </button>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="fwmb-brush-setting fwmb-hidden" data-tool-group="infrastructure-route">
            <label>{{localize "FILRODENSWMB.UI.QuickStyles"}}</label>
            <div class="fwmb-flex-row" style="gap: 4px;">
                {{#each routeStyles}}
                <button type="button" class="fwmb-btn outline small wide {{#if (eq ../uiState.activeRouteQuickStyle this.id)}}active{{/if}}" data-action="setRouteStyle" data-style="{{this.id}}">
                    {{localize this.label}}
                </button>
                {{/each}}
            </div>
        </div>

        <div class="fwmb-brush-setting fwmb-hidden" data-tool-group="infrastructure-route">
            <label>{{localize "FILRODENSWMB.UI.LineColor"}}</label>
            <input type="color" class="fwmb-swatch fwmb-wide" name="routeColor" value="{{lookup uiState 'routeColor'}}" style="height: 24px; padding: 0;" />
        </div>

        <div class="fwmb-brush-setting fwmb-hidden" data-tool-group="infrastructure-route">
            <label>{{localize "FILRODENSWMB.UI.LineThickness"}}</label>
            <div class="fwmb-slider-group">
                <input type="range" name="routeThickness" value="{{lookup uiState 'routeThickness'}}" min="1" max="10" step="1" oninput="this.nextElementSibling.value = this.value" />
                <output>{{lookup uiState "routeThickness"}}</output>
            </div>
        </div>

        <div class="fwmb-brush-setting fwmb-hidden" data-tool-group="infrastructure-route">
            <label>{{localize "FILRODENSWMB.UI.LineStyle"}}</label>
            <select name="routeStyle">
                <option value="solid" {{#if (eq uiState.routeStyle "solid")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.StyleSolid"}}</option>
                <option value="dashed" {{#if (eq uiState.routeStyle "dashed")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.StyleDashed"}}</option>
                <option value="dotted" {{#if (eq uiState.routeStyle "dotted")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.StyleDotted"}}</option>
            </select>
        </div>

        <button type="button" data-tool-group="cartography" data-action="addDecoration" class="fwmb-hidden" data-tooltip="{{localize 'FILRODENSWMB.UI.AddDecoration'}}">
            <i class="fwmb-icon add"></i>
        </button>

    </div>

    <button type="button" data-tool-group="regions" data-action="setRegionMode" data-mode="draw" class="active fwmb-hidden" data-tooltip="{{localize 'FILRODENSWMB.UI.DrawRegion'}}">
        <i class="fwmb-icon edit"></i>
    </button>

    <div class="fwmb-divider-vertical" data-tool-group="regions"></div>

    <div class="fwmb-brush-setting fwmb-hidden" data-tool-group="regions">
        <label>{{localize "FILRODENSWMB.UI.FillColor"}}</label>
        <div class="fwmb-setting-row">
            <button type="button" class="fwmb-swatch fwmb-transparent" data-action="setRegionPreset" data-color="transparent" data-target="fill" title="{{localize 'FILRODENSWMB.UI.NoFill'}}"></button>
            <input type="color" class="fwmb-swatch fwmb-swatch-lg fwmb-wide" name="regionFillColor" value="{{#if (eq (lookup uiState 'regionFillColor') 'transparent')}}#000000{{else}}{{lookup uiState 'regionFillColor'}}{{/if}}" list="fwmb-region-colors" />
        </div>
    </div>

    <div class="fwmb-brush-setting fwmb-hidden" data-tool-group="regions">
        <label>{{localize "FILRODENSWMB.UI.FillStyle"}}</label>
        <select name="regionFillStyle">
            <option value="solid" {{#if (eq uiState.regionFillStyle "solid")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.StyleSolid"}}</option>
            <option value="diagonal" {{#if (eq uiState.regionFillStyle "diagonal")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.StyleDiagonalHatch"}}</option>
            <option value="crosshatch" {{#if (eq uiState.regionFillStyle "crosshatch")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.StyleCrossHatch"}}</option>
        </select>
    </div>

    <div class="fwmb-brush-setting fwmb-hidden" data-tool-group="regions">
        <label>{{localize "FILRODENSWMB.UI.Border"}}</label>
        <div class="fwmb-setting-row">
            <input type="color" class="fwmb-swatch fwmb-swatch-lg  fwmb-wide" name="regionLineColor" value="{{lookup uiState 'regionLineColor'}}" list="fwmb-region-colors" />
            <input type="number" class="fwmb-input-short" name="regionLineThickness" value="{{lookup uiState 'regionLineThickness'}}" min="0" max="10" title="{{localize 'FILRODENSWMB.UI.LineThickness'}}" />
        </div>
    </div>

    <div class="fwmb-brush-setting fwmb-hidden" data-tool-group="regions">
        <label>{{localize "FILRODENSWMB.UI.LineStyle"}}</label>
        <select name="regionLineStyle">
            <option value="solid" {{#if (eq uiState.regionLineStyle "solid")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.StyleSolid"}}</option>
            <option value="dashed" {{#if (eq uiState.regionLineStyle "dashed")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.StyleDashed"}}</option>
            <option value="dotted" {{#if (eq uiState.regionLineStyle "dotted")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.StyleDotted"}}</option>
            <option value="dashdot" {{#if (eq uiState.regionLineStyle "dashdot")}}selected{{/if}}>{{localize "FILRODENSWMB.UI.StyleDashDot"}}</option>
        </select>
    </div>

    <div class="fwmb-divider-vertical" data-tool-group="regions"></div>

    <div class="fwmb-brush-setting fwmb-hidden fwmb-centered" data-tool-group="regions">
        <button type="button" data-action="toggleRegionSmoothing" class="fwmb-btn wide {{#if uiState.regionSmoothing}}active{{/if}}" data-tooltip="{{localize 'FILRODENSWMB.UI.ToggleSmoothing'}}">
            <i class="fwmb-icon {{#if uiState.regionSmoothing}}gesture{{else}}timeline{{/if}}"></i>
        </button>
    </div>

    <div class="fwmb-brush-setting fwmb-hidden" data-tool-group="regions">
        <label>{{localize "FILRODENSWMB.UI.Opacity"}}</label>
        <div class="fwmb-slider-group">
            <input type="range" name="regionOpacity" value="{{lookup uiState 'regionOpacity'}}" min="0.1" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value" />
            <output>{{lookup uiState "regionOpacity"}}</output>
        </div>
    </div>

    <div class="hint fwmb-centered" data-tool-group="labels">
        {{localize "FILRODENSWMB.UI.LabelHelpText"}}
    </div>

    <div class="fwmb-divider-vertical" data-tool-group="terrain biomes features infrastructure regions labels cartography"></div>

    <div class="fwmb-brush-history">
        <button type="button" data-action="undoBrush" data-tooltip="{{localize 'FILRODENSWMB.UI.Undo'}}">
            <i class="fwmb-icon undo"></i>
        </button>
        <button type="button" data-action="redoBrush" data-tooltip="{{localize 'FILRODENSWMB.UI.Redo'}}">
            <i class="fwmb-icon redo"></i>
        </button>
    </div>
</div>